/* Login */
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.login-form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  width: 340px;
}
.login-logo {
  display: none;
  justify-self: center;
  width: 150px;
  margin-bottom: 6em;
}
.login-title {
  margin-bottom: 1em;
  font-size: var(--font-size-lg);
  line-height: 1.5;
  text-align: center;
}
.login-subtitle {
  margin-bottom: 2.5em;
  font-size: var(--font-size-lg);
  font-weight: 300;
  line-height: 1.5;
  color: var(--gray);
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 0.5em;
  font-size: var(--font-size-sm);
  font-weight: 700;
}
.form-input {
  height: 40px;
  margin-bottom: 1.5em;
  padding: 0.8em;
  font-size: var(--font-size-md);
  background-color: var(--text-input-field);
  border: none;
  border-radius: 10px;
}
.form-input:focus-visible {
  outline: auto var(--hospital-green);
}
@media (max-width: 640px) {
  .login-logo {
    display: block;
  }
}
