main.shopping-cart-main {
  display: grid;
  place-items: center;
}
.shopping-cart-container {
  width: 100%;
  max-width: 420px;
  height: 100%;
  /* max-height: 100vh; */
}
.shopping-cart {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  align-items: baseline;
  gap: 1em;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.shopping-cart-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shopping-cart-title .shopping-title {
  font-size: var(--font-size-md);
  line-height: 22px;
  color: var(--black);
}
.arrow-left {
  width: 25px;
  height: 25px;
  margin-right: 1em;
  background-image: url("../images/icons/arrow-left.svg");
  background-size: 20px 20px;
}
.checkout-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

.shopping-card .shopping-detail span.delet-product {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/icon_close.png");
}
@media (max-width: 640px) {
}
