main.mobile-menu-main {
  width: 100vw;
  height: 100vh;
}
.mobile-menu {
  display: grid;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 32px 35px;
}
.mobile-menu hr {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  mix-blend-mode: normal;
  opacity: 0.1;
  border: 1px solid #979797;
}
.topics-list {
  list-style: none;
}
.topics-list .item-list {
  padding: 18px 0;
}
.topics-list .item-list a {
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
}
.topics-list .title-list {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  text-transform: uppercase;
}
.topics-list a,
.item-list a {
  text-decoration: none;
  color: var(--black);
}
.elements-account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.elements-account {
  margin-top: 52px;
}
.elements-account .account-email {
  font-weight: 300;
  font-size: var(--font-size-sm);
  line-height: 17px;
}
.elements-account .account-sign-out a {
  font-size: var(--font-size-sm);
  line-height: 17px;
  color: var(--hospital-green);
}
.elements-account .account-email,
.elements-account .account-sign-out {
  padding: 0;
}
