main.my-order-main {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}
.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  width: 90%;
  min-width: 300px;
  max-width: 410px;
  margin: 0 auto;
}
.my-order-title {
  margin-bottom: 40px;
  font-size: var(--font-size-lg);
}
.resume-order {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 18px 16px;
  background-color: var(--text-input-field);
  border-radius: 10px;
}
.resume-order .resume-info,
.resume-orders .resume-info {
  display: flex;
  flex-direction: column;
}
.resume-order .resume-info span:nth-child(1),
.resume-orders .resume-info span:nth-child(1) {
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  color: var(--black);
}
.resume-order .resume-info span:nth-child(2),
.resume-orders .resume-info span:nth-child(2) {
  font-weight: 300;
  font-size: var(--font-size-md);
  line-height: 17px;
  color: var(--gray);
}
.resume-order .resume-price,
.resume-orders .resume-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  text-align: end;
  color: var(--second-black);
}
.shopping-container {
  display: grid;
  gap: 1em;
  margin-top: 0.8em;
}
.shopping-card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
}
.shopping-card .shopping-picture {
  width: 76px;
  height: 76px;
  background-color: var(--gray);
  border-radius: 20px;
}
.shopping-card .shopping-picture .picture-img {
  border-radius: inherit;
}
.shopping-card .shopping-detail {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}
.shopping-card .shopping-detail p:first-child {
  font-size: var(--font-size-sm);
  line-height: 17px;
  color: var(--gray);
}
.shopping-card .shopping-detail p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  color: var(--second-black);
}
