:root {
  --very-light-pink: #c7c7c7;
  --hospital-green: #acd9b2;
  --text-input-field: #f7f7f7;
  --dark: #232830;
  --white: #ffffff;
  --black: #000000;
  --gray: #797979;
  --snow-gray: rgba(216, 216, 216, 0.13);
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Buttom - Global */
.primary-btn {
  width: 100%;
  height: 55px;
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
}
